<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.actionSets">
      <actionSet label="FontResize" visible="true" id="FontResize.actionSet">
         <action label="Increase fonts size" icon="icons/increase-font.gif" 
         	class="fontresize.actions.FontIncreaseSizeAction" toolbarPath="increaseFontsSize" 
         	id="fontresize.actions.FontsIncreaseSizeAction"/>
         <action label="Decrease fonts size" icon="icons/decrease-font.gif" 
         	class="fontresize.actions.FontDecreaseSizeAction" toolbarPath="increaseFontsSize" 
         	id="fontresize.actions.FontsDecreaseSizeAction"/>
      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <category name="Fonts Size" id="fontresize.commands.category"/>
      <command name="Fonts Increase" categoryId="fontresize.commands.category" 
      	id="fontresize.commands.increase"/>
      <command name="Fonts Decrease" categoryId="fontresize.commands.category" 
      	id="fontresize.commands.decrease"/>
   </extension>
    <extension point="org.eclipse.ui.handlers">
      <handler commandId="fontresize.commands.increase" 
      	class="fontresize.handlers.FontIncreaseSizeHandler"/>
      <handler commandId="fontresize.commands.decrease" 
      	class="fontresize.handlers.FontDecreaseSizeHandler"/>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key commandId="fontresize.commands.increase" contextId="org.eclipse.ui.textEditorScope" 
      	sequence="M1+0" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"></key>
      <key commandId="fontresize.commands.decrease" contextId="org.eclipse.ui.textEditorScope" 
      	sequence="M1+-" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"></key>
   </extension>
</plugin>